<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@latest/dist/tailwind.min.css">-->

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<!--    <div class="m-12">-->
<!--        <h2 class="">JobNexusAi</h2>-->
<!--        <h1>Reset your password</h1>-->
<!--        <p>We have received a password reset request for your JobNexusAi account</p>-->

<!--        <p>If you did not ask to change your password, then you can ignore this email-->
<!--        and your password will not be changed. The link will be active for .....hr</p>-->
<!--        <p>Your password reset token: {{ reset_password_token }}</p>-->
<!--        <p>Click the following link to reset your password:</p>-->
<!--        <a href="{{ reset_password_url }}">{{ reset_password_url }}</a>-->
<!--        <button class="block uppercase mx-auto shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded">Sign in</button>-->

<!--    </div>-->
<div class="m-12">
    <h2 class="text-2xl font-bold">JobNexusAi</h2>
    <br>
    <h1 class="text-xl">Reset your password</h1>
    <br>
    <p>We have received a password reset request for your JobNexusAi account</p>

    <p>If you did not ask to change your password, then you can ignore this email and your password will not be changed.</p>
    <br>
    <p>Click the following link to reset your password:</p>
    <br>
    <a  href="{{ reset_password_url }}" >
        <span class="inline-block mx-auto shadow bg-gray-800 hover:bg-gray-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded">
            Reset Password
        </span>
    </a>
</div>
</body>
</html>